* {
  box-sizing: border-box;
}
body {
     font-size: 16px;
  line-height: 1.6;
    background-image:url(images/background_solaire.png); scale: unset;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}
table {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aliceblue;
    color: black;
border: 2px solid black;}
h1 {
    font-family: ;
}
main {
    max-width: 900px;
  width: 100%;
  margin: auto;
  padding: 1rem;
    padding: 2rem;
    gap: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
section {
    padding: 1rem;
}
footer {
    background-color: #002366;
    ;
}
input[type="radio"] {
 accent-color: #FF5F1F;
 cursor: pointer;
}
h1 {
    font-family: cinzel, serif; 
}
h2 {
     font-family: cinzel;
}
input [type="number"]{
    cursor: pointer;
    border: none;
    background-color: #002366;
}
table {
    height: 5rem;
    background-color:#1E2A36;
    border-collapse: collapse;
    color:azure;
}
th {
    background-color: #FFD700;
    color: black;
    padding: 0.5rem;
}
td {
    padding: 0.5rem;
}
tfoot {
    background-color: #FFD700;
    color: black;
}
summary {
    color: #545454;
}
button {
    border: 3px;
    padding: 0.3rem;
    background-color: #87CEEB;
    cursor: pointer;
}
textarea {
    background-color: #87CEEB;
    border-radius: 3px;
    border-color: black;
}
fieldset {
    border: 10rem;
    border-color: white;
}
.0 {
    color: red;
}
footer a {
    text-decoration: dashed;
    color: black;
}
img {
    max-width: 100%;
  height: auto;
  display: block;
}
@media (max-width: 768px) {

  h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  h2 {
    font-size: 1.2rem;
  }

  section {
    padding: 1rem;
  }

  body {
    background-attachment: scroll;
  }
}
label {
      min-height: 44px;
}